body {
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  height: 600px;
  background: url(./img/background.png) center/cover;
}

.game__header {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__button {
  width: 60px;
  height: 60px;
}
