body {
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.container {
  width: 1000px;
  height: 600px;
  background: url(./img/background.png) center/cover;
}

.game__header {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__button {
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  background-color: white;
  outline: none;
  border: 2px solid black;
}

.fa-play {
  font-size: 1.4rem;
}

.game__timer {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 1.4rem 0;
  visibility: hidden;
}

.game__score {
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.8rem;
  visibility: hidden;
}

.game__field {
  position: relative;
  margin-top: 3.2rem;
  width: 100%;
  height: 50%;
}

.carrot,
.bug {
  cursor: pointer;
  transition: all 0.2s;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.12);
}

.pop-up {
  position: absolute;
  text-align: center;
  background-color: lightgrey;
  top: 240px;
  opacity: 0.8;
  width: 500px;
  height: 300px;
  visibility: hidden;
}

.pop-up--button {
  background-color: white;
  font-size: 3.2em;
  margin-top: 1.2rem;
}

.pop-up--button:hover {
  background-color: palevioletred;
}

.pop-up--text {
  margin-top: 1.4rem;
  font-size: 3.2rem;
}

.pop-up--hide {
  display: none;
}
